<link rel="stylesheet" href="{{ 'header.css' | asset_url }}">

{% style %}
  #custome__header-{{ section.id }} {
    --padding-top: {{ section.settings.header_padding_top }}px;
    --padding-bottom: {{ section.settings.header_padding_bottom }}px;
    --padding-right: {{ section.settings.header_padding_right }}px;
    --padding-left: {{ section.settings.header_padding_left }}px;
    --padding-top-mlb: {{ section.settings.padding_top_mbl }}px;
    --padding-bottom-mbl: {{ section.settings.padding_bottom_mbl }}px;
    --padding-right: {{ section.settings.padding_right_mbl }}px;
    --padding-left-mbl: {{ section.settings.padding_left_mbl }}px;
    --link-gap: {{ section.settings.menu_gap }}px;
    --link-gap-mbl: {{ section.settings.menu_gap_mbl }}px;
  }
{% endstyle %}

<div id="custome__header-{{ section.id }}" class="custome_header">
  <div class="custome_header__container">

    {% if settings.logo %}
      <a href="{{ routes.root_url }}" class="custome_header__logo">
        <img src="{{ settings.logo | image_url }}" alt="logo">
      </a>
    {% else %}
      <a href="{{ routes.root_url }}" class="custome_header__logo">
        <img src="{{ section.settings.header_logo | image_url }}" alt="logo">
      </a>
    {% endif %}


      <nav class="custome_header__menu">
      {% assign menu = linklists[section.settings.main_menu] %}
        {% for link in menu.links %}
          {% if link.url != blank %}
            <a href="{{ link.url }}" class="{% if link.active %}active{% endif %}">
              {{ link.title }}
            </a>
          {% endif %}
        {% endfor %}

        <button class="custome_header__menu-close">
          <img src="{{ 'close.svg' | asset_url }}" alt="close menu">
        </button>

      </nav>


    <div class="custome_header__actions">
      {% assign primary_text = section.settings.btn_primary_text | strip %}
      {% assign primary_link = section.settings.primary_link | strip %}
      {% if primary_text != blank and primary_link != blank %}
        <a href="{{ primary_link }}" class="btn btn--primary">
          {{ primary_text }}
        </a>
      {% endif %}

      {% assign secondary_link = section.settings.secondary_link | strip %}
      {% assign secondary_text = section.settings.secondary_text | strip %}
      {% if secondary_link != blank %}
      <a href="{{secondary_link}}" class="btn btn--secondary">
        {{secondary_text}}
      </a>
      {% endif %}
    </div>

    {% if section.settings.main_menu != blank and section.settings.main_menu.links.size > 0 %}
      <button class="custome_header__menu-open">
        <img src="{{ 'open.svg' | asset_url }}" alt="open menu">
      </button>
    {% endif %}

  </div>
</div>

{% stylesheet %}
  .custome_header{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-right: var(--padding-right);
    padding-left: var(--padding-left);
  }

  .custome_header__menu {
    gap: var(--link-gap);
  }

  @media (max-width: 1024px) {
    .custome_header {
      padding-top: var(--padding-top-mlb);
      padding-bottom: var(--padding-bottom-mbl);
      padding-right: var(--padding-right-mbl);
      padding-left: var(--padding-left-mbl);
    }

    .custome_header__container {
      padding-right: var(--padding-right);
    }

    .custome_header__menu {
      gap: var(--link-gap-mbl);
    }
  }
{% endstylesheet %}

<script src="{{ 'header.js' | asset_url }}" defer></script>

{% schema %}
 {
  "name": "Custome Header",
  "tag": "header",

  "disabled_on": {
    "groups": ["footer", "aside"]
  },

  "settings": [
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Header Logo",
      "info": "Used if theme logo is not set"
    },
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "Main Menu",
      "default": "main-menu"
    },

    {
      "type": "header",
      "content": "Primary Button"
    },
    {
      "type": "text",
      "id": "btn_primary_text",
      "label": "Text",
      "default": "(518) 452-6979"
    },
    {
      "type": "url",
      "id": "primary_link",
      "label": "Link",
    },

    {
      "type": "header",
      "content": "Secondary Button"
    },
    {
      "type": "text",
      "id": "secondary_text",
      "label": "Text",
      "default": "Clio for Clients"
    },
    {
      "type": "url",
      "id": "secondary_link",
      "label": "Link"
    },

    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "range",
      "id": "header_padding_top",
      "label": "Space Above",
      "min": 0,
      "max": 200,
      "unit": "px",
      "step": 10,
      "default": 30
    },
    {
      "type": "range",
      "id": "header_padding_bottom",
      "label": "Space Below",
      "min": 0,
      "max": 200,
      "unit": "px",
      "step": 10,
      "default": 30
    },
    {
      "type": "range",
      "id": "header_padding_right",
      "label": "Space Right",
      "min": 0,
      "max": 200,
      "unit": "px",
      "step": 10,
      "default": 30
    },
    {
      "type": "range",
      "id": "header_padding_left",
      "label": "Space Left",
      "min": 0,
      "max": 200,
      "unit": "px",
      "step": 10,
      "default": 30
    },
    {
      "type": "range",
      "id": "menu_gap",
      "label": "Links Space Between",
      "min": 0,
      "max": 200,
      "unit": "px",
      "step": 2,
      "default": 20,
    },
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "range",
      "id": "padding_top_mbl",
      "label": "Space Above",
      "min": 0,
      "max": 200,
      "unit": "px",
      "step": 10,
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_mbl",
      "label": "Space Below",
      "min": 0,
      "max": 200,
      "unit": "px",
      "step": 10,
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_right_mbl",
      "label": "Space Right",
      "min": 0,
      "max": 200,
      "unit": "px",
      "step": 10,
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_left_mbl",
      "label": "Space Left",
      "min": 0,
      "max": 200,
      "unit": "px",
      "step": 10,
      "default": 10
    },
    {
      "type": "range",
      "id": "menu_gap_mbl",
      "label": "Links Space Between",
      "min": 0,
      "max": 200,
      "unit": "px",
      "step": 2,
      "default": 10,
    },
  ],
  "presets": [
    {
      "name": "Custom Header"
    }
  ]
}
{% endschema %}
